@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* General */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000000;
}

.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.main-content {
  flex-grow: 1;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

/* Header */

.page-header {
  min-height: 65px;
}

.navigation {
  display: flex;
}

.navigation-logo-link {
  display: block;
  position: relative;
  left: 70px;
  height: 70px;
  margin-right: 100px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 390px;
  list-style: none;
}

.navigation-link {
  display: block;
  color: inherit;
  padding: 20px 34px 20px 0;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-item:nth-child(3n + 1) .navigation-link {
  padding-left: 17px;
}

.navigation-link-active {
  position: relative;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  padding: 0;
  margin-left: auto;
  margin-right: 70px;
  width: 264px;
}

.navigation-item-icon {
  display: flex;
}

.navigation-item-icon:nth-child(2) {
  position: relative;
  margin-right: 20px;
}

.navigation-icon {
  width: 42px;
  height: 66px;
}

.navigation-search {
  background: url("../images/header/search.svg") no-repeat center;
}

.navigation-favorite {
  background: url("../images/header/favorite.svg") no-repeat center;
  position: relative;
}

.navigation-favorite::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 24px;
  background: #7DB54F;
  border-radius: 50%;
}

.navigation-favorite-counter {
  position: absolute;
  width: 19px;
  height: 13px;
  top: 18px;
  left: 25px;
  font: inherit;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
}

.button-brown {
  padding: 0;
  margin: 14px 0;
  width: 160px;
  height: 37px;
  border: none;
  border-radius: 4px;
}

/* Body*/

.intro-title {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.intro {
  background: url("../images/main/index-background.jpg") center no-repeat;
  background-size: cover;
  min-height: 485px;
}

.intro::after {
  content: "";
  background: url("../images/main/divider.svg") no-repeat;
  display: block;
  position: relative;
  top: 26px;
  width: 100%;
  height: 57px;
}

/* Advantages Intro */

.advantages-intro {
  padding: 63px 272px 90px;
}

.advantages-opening {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-reasons {
  margin: 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Advantages Blocks*/

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  display: flex;
}

.advantages-item:not(:first-child):not(:nth-child(5)) {
  width: 400px;
  height: 384px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.advantages-item:first-child .advantages-block,
.advantages-item:nth-child(5) .advantages-block {
  padding: 92px 85px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item:nth-child(n + 2):nth-child(-n + 4) .advantages-block {
  padding: 80px 85px 81px 85px;
}

.advantages-item:nth-child(n + 6):nth-child(-n + 8) .advantages-block {
  padding: 103px 85px 102px 85px;
}

.advantages-item:first-child:hover .advantages-block,
.advantages-item:nth-child(5):hover .advantages-block,
.advantages-block:hover {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
}

/* Find Hotel */

.find-hotel-content {
  padding: 91px 312px 29px;
}

.find-hotel-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.find-hotel-description {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-find {
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 574px;
  height: 60px;
  border: none;
  border-radius: 4px;
}

/* Find Hotel Modal*/

.modal-input {
  font-family: inherit;
}

.modal-option-title .modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-modal-close {
  width: 18px;
  height: 18px;
  background-image: url("../images/modal/modal-close-icon.svg");
  background-repeat: no-repeat;
}

.modal-option .modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.modal-error,
.modal-success {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-error {
  color: #ff5757;
}

.modal-success {
  color: #333333;
}

.modal-children-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333333;
}

.modal-children-round {
  width: 18px;
  height: 18px;
  background-image: url("../images/modal/tooltip-info.svg");
  background-repeat: no-repeat;
}

.button-modal-find {
  background-color: #82b3d3;
}

/* Newsletter */

.newsletter {
  background: url("../images/main/subscribe-background.png") no-repeat;
  color: #ffffff;
}

.newsletter-form {
  padding: 94px 200px;
  text-align: center;
}

.newsletter-title {
  margin: 0;
  display: inline-block;
  min-width: 404px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  display: inline-block;
  width: 475px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-email {
  display: flex;
}

.newsletter-field {
  font: inherit;
  padding: 0;
  margin: 0;
  min-width: 600px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.newsletter-field::placeholder {
  padding-left: 22px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.button-newsletter {
  padding: 0;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #82b3d3;
}

/* Footer*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.page-footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  padding: 10px 12px;
}

.social-link-page {
  fill: #83B3D3;
}

.social-link:hover .social-link-page,
.social-link:focus .social-link-page {
  fill: #68A2CA;
}

.social-link:active .social-link-page {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer-contacts-address-phone:hover,
.page-footer-contacts-address-phone:focus {
  color: #756157;
}

.page-footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-copyright {
  padding: 8px 0;
}

.page-footer-copyright-logo:hover .page-footer-copyright-logo-icon,
.page-footer-copyright-logo:focus .page-footer-copyright-logo-icon {
  fill: #756157;
}

.page-footer-copyright-logo:active .page-footer-copyright-logo-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */

/* Catalog Filter*/

.catalog {
  background: url("../images/catalog/background-filter.jpg") no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  color: #ffffff;
}

.catalog-filter-name {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 25px;
  position: relative;
  display: block;
}

.breadcrumbs-item:first-child .breadcrumbs-link-house {
  fill: #ffffff;
}

.breadcrumbs-item:first-child:hover .breadcrumbs-link-house {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:first-child:active .breadcrumbs-link-house {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:first-child::after {
  content: "";
  background: url("../images/catalog/breadcrumbs-arrow.svg") no-repeat;
  display: block;
  position: absolute;
  width: 5px;
  height: 8px;
  top: 6px;
  left: 22px;
}

.breadcrumbs-item:last-child {
  font-size: 16px;
  margin-right: 0;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-form {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.catalog-filter-block {
  padding: 0;
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group-price {
  flex-direction: column;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control-input + .control-description {
  display: inline-flex;
  cursor: pointer;
}

.control-description::before {
  content: "";
  display: block;
  margin-right: 19px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control-description-housing::before {
  border-radius: 50%;
}

.control-input:checked + .control-description::before {
  content: "";
  background: url("../images/catalog/select-arrow.svg") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control-input:checked + .control-description-housing::before {
  content: "";
  background: url("../images/catalog/radio-ellipse.svg") no-repeat center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-price {
  display: flex;
  width: 288px;
  height: 48px;
  margin-bottom: 32px;
}

.control-input {
  margin: 0;
  padding: 0;
  margin-right: 19px;
  font: inherit;
  box-sizing: border-box;
  background: none;
  border: 2px solid #ffffff;
}

.control-input-price {
  margin: 0;
  padding-left: 19px;
  color: #ffffff;
  width: 144px;
  height: 48px;
}

.control-input-min {
  position: relative;
  left: 1px;
  border-radius: 4px 0 0 4px;
}

.min-price::after {
  content: "от";
  position: relative;
  bottom: 36px;
  left: 107px;
  opacity: 0.3;
}

.control-input-max {
  border-radius: 0 4px 4px 0;
}

.max-price::after {
  content: "до";
  position: relative;
  bottom: 36px;
  left: 107px;
  opacity: 0.3;
}

.control-input-range {
  margin: 0;
  width: 100%;
}

.catalog-filter-buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filter-buttons .button {
  padding: 0;
  border: none;
}

.button-catalog-filter-group-submit {
  width: 160px;
  height: 48px;
  background-color: #82b3d3;
  border-radius: 4px;
  margin: 60px 0 20px;
}

.button-catalog-filter-group-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background: none;
}

/* Search Hotel */

.sort {
  padding: 50px 72px 25px 71px;
}

.sort-header {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.search-hotels-title {
  margin: 0;
  margin-right: 191px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control-hotels {
  width: 290px;
  height: 49px;
  margin-right: 78px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font: inherit;
  color: #333333;
}

.select-control-hotels:hover,
.select-control-hotels:focus {
  border-color: #68A2CA;
}

.select-control-hotels:active {
  border-color: #000000;
}

.select-control-hotels:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sort-list-value {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.view-button {
  padding: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-button-active {
  border-color: #000000;
}

.view-button-table {
  background: url("../images/catalog/icon-table.svg") no-repeat center;
}

.view-button-slideshow {
  background: url("../images/catalog/icon-slideshow.svg") no-repeat center;
}

.view-button-list {
  background: url("../images/catalog/icon-list.svg") no-repeat center;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  border-color: #68A2CA;
}

.view-button:active {
  border-color: #000000;
}

/* Hotels */

.product-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin-bottom: 96px;
  list-style: none;
}

.product-list::after {
  content: "";
  position: relative;
  width: 1055px;
  top: 96px;
  right: 358px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  width: 300px;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-info,
.product-card-buttons,
.product-card-ratings {
  display: flex;
  justify-content: space-between;
}

.product-card-group,
.product-card-price {
  margin: 0;
  width: 140px;
  height: 21px;
}

.product-card-buttons .button,
.product-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  background: #756157;
  border-radius: 4px;
}

.product-card-buttons .product-card-button:last-of-type {
  background-color: #82b3d3;
}

.product-card-buttons .product-card-button-selected {
  background-color: #7db54f;
}

.product-card-rating {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.product-card-rating:first-child {
  background-color: #ffffff;
}

/*  Pagination  */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.pagination-item {
  display: flex;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  color: #ffffff;
  box-sizing: border-box;
  text-decoration: none;
}

.pagination-link:active:not(.pagination-select) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.pagination-select {
  color: #000000;
}

.pagination-end {
  padding: 12px 18px;
}

.pagination-items {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 51px;
}

.pagination-title {
  display: block;
  width: 175px;
  height: 23px;
}

.select-control-items {
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 49px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Newsletter-catalog */
.newsletter-catalog {
  background-image: none;
}

.newsletter-catalog-title {
  color: #000000;
}
.newsletter-catalog-description {
  color: #333333;
}
