@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* General */

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000000;
}

.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.main-content {
  flex-grow: 1;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Pages */

  /* Header */

.navigation {
  display: flex;
}

.navigation-logo-link {
  display: block;
  position: relative;
  left: 70px;
  height: 70px;
}

.navigation-list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 17px;
  gap: 34px;
  list-style: none;
}

.navigation-link {
  color: inherit;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-active {
  display: block;
  position: relative;
  top: 2px;
}

.navigation-link-active::after {
  content: "";
  display: block;
  position: relative;
  top: 20px;
  width: 100%;
  border: 2px solid #756257;
  background-color: #756257;
  box-sizing: border-box;
}

.navigation-user {
  padding: 0;
  display: flex;
  margin: 0 70px 0 auto;
  gap: 0;
}

.navigation-item-icon {
  display: flex;
}

.navigation-item-icon:nth-child(2) {
  margin-right: 20px;
}

.navigation-icon {
  width: 42px;
  height: 66px;
}

.navigation-search {
  background: url("../images/header/search.svg") no-repeat center;
}

.navigation-favorite {
  background: url("../images/header/favorite.svg") no-repeat center;
}

.button-brown {
  padding: 0;
  margin: 14px 0;
  width: 168px;
  height: 37px;
  border: none;
  border-radius: 4px;
}

  /* Body*/

.intro-title {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
}

.intro {
  background: url("../images/main/index-background.jpg") center no-repeat;
  background-size: cover;
  min-height: 485px;
}

.intro::after {
  content: "";
  background: url("../images/main/divider.svg") no-repeat;
  display: block;
  position: relative;
  top: 25px;
  width: 100%;
  height: 57px;
}

    /* Advantages Intro */

.advantages-opening {
  margin: 0;
  padding: 63px 290px 31px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-reasons {
  margin: 0;
  padding: 0 272px 90px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

    /* Advantages Blocks*/

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item {
  display: flex;
}

.advantages-item:nth-child(even),
.advantages-item:nth-child(3),
.advantages-item:nth-child(7) {
  width: 400px;
  height: 384px;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.advantages-item:first-child .advantages-block,
.advantages-item:nth-child(5) .advantages-block {
  padding: 92px 85px;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item:nth-child(n+2):nth-child(-n+4) .advantages-block {
  padding: 80px 85px 81px 85px;
}

.advantages-item:nth-child(n+6):nth-child(-n+8) .advantages-block {
  padding: 103px 85px 102px 85px;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
}

    /* Find Hotel */

.find-hotel-content {
  min-height: 417px;
}

.find-hotel-title {
  margin: 0;
  padding: 91px 451px 29px 452px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.find-hotel-description {
  margin: 0;
  padding: 0 304px 56px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-find {
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 574px;
  height: 60px;
  text-align: center;
  border: none;
  border-radius: 4px;
}

    /* Find Hotel Modal*/

.modal-input {
  font-family: inherit;
}

.modal-option-title .modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.button-modal-close {
  width: 18px;
  height: 18px;
  background-image: url("../images/modal/modal-close-icon.svg");
  background-repeat: no-repeat;
}

.modal-option .modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.modal-error,
.modal-success {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-error {
  color: #FF5757;
}

.modal-success {
  color: #333333;
}

.modal-children-message {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333333;
}

.modal-children-round {
  width: 18px;
  height: 18px;
  background-image: url("../images/modal/tooltip-info.svg");
  background-repeat: no-repeat;
}

.button-modal-find {
  background-color: #82B3D3;
}

    /* Newsletter */

.newsletter {
  background: url("../images/main/subscribe-background.png") no-repeat;
  color: #FFFFFF;
  max-height: 411px;
}

.newsletter-form {
  padding: 94px 200px;
  text-align: center;
}

.newsletter-title {
  margin: 0;
  display: inline-block;
  min-width: 404px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  display: inline-block;
  width: 475px;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-email {
  display: flex;
}

.newsletter-field {
  font: inherit;
  padding: 0;
  margin: 0;
  min-width: 600px;
  height: 60px;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.newsletter-field::placeholder {
  padding-left: 22px;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.button-newsletter {
  padding: 0;
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #82B3D3;
}

  /* Footer*/

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.page-footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 142px;
  list-style: none;
}

.page-footer-social-item {
  padding: 10px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
}

.social-link-twitter {
  background: url("../images/footer/social-twitter.svg") no-repeat;
}

.social-link-facebook {
  background: url("../images/footer/social-facebook.svg") no-repeat;
}

.social-link-youtube {
  background: url("../images/footer/social-youtube.svg") no-repeat;
}

.page-footer-contacts {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 720px;
}

.page-footer-contacts-address-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer-copyright {
  padding: 8px 0;
}

.page-footer-copyright-logo {
  display: block;
  width: 115px;
  height: 34px;
  background: url("../images/footer/logo-HTML-Academy.svg") no-repeat;
}

/* Catalog */

  /* Catalog Filter*/

.catalog {
  background: url("../images/catalog/background-filter.jpg") no-repeat;
  background-size: cover;
  padding: 35px 70px 70px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  color: #ffffff;
}

.catalog-filter-name {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.breadcrumbs-item:first-child::after {
  content: "";
  background: url("../images/catalog/breadcrumbs-arrow.svg") no-repeat;
  display: inline-block;
  position: relative;
  width: 5px;
  height: 8px;
  bottom: 2px;
  margin: 0 10px 0 5px;
}

.breadcrumbs-item:last-child {
  font-size: 16px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.catalog-form {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 167px;
}

.catalog-filter-block {
  padding: 0;
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group-price {
  flex-direction: column;
}

.catalog-filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control {
  display: flex;
}

input[type="checkbox"],
input[type="radio"] {
 display: none;
}

.control:before {
  content: "";
  display: inline-block;
  position: relative;
  left: 1px;
  margin-right: 19px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  border-radius: 5px;
 }

 input[type="checkbox"]:checked + .control:before {
  content: "";
  display: block;

 }

 .control-housing:before {
  content: "";
  background-image: url("../images/catalog/radio-ellipse.svg");
  background-position: center;
  border-radius: 50%;
 }

 input[type="radio"]:checked + .control-housing:before {
  content: "";
 }

.control-price {
  display: flex;
  width: 288px;
  height: 48px;
  margin-bottom: 32px;
}

.control-input {
  margin: 0;
  padding: 0;
  margin-right: 19px;
  font: inherit;
  box-sizing: border-box;
  background: none;
  border: 2px solid #FFFFFF;
}

.control-input-price {
  margin: 0;
  padding-left: 19px;
  color: #ffffff;
  width: 144px;
  height: 48px;
}

.control-input-min {
  position: relative;
  left: 1px;
  border-radius: 4px 0 0 4px;
}

.min-price::after {
  content: "от";
  position: relative;
  bottom: 36px;
  left: 107px;
  opacity: 0.3;
}

.control-input-max {
  border-radius: 0 4px 4px 0;
}

.max-price::after {
  content: "до";
  position: relative;
  bottom: 36px;
  left: 107px;
  opacity: 0.3;
}

.control-input-range {
  margin: 0;
  width: 100%;
}

.catalog-filter-buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filter-buttons .button {
  padding: 0;
  border: none;
}

.button-catalog-filter-group-submit {
  width: 160px;
  height: 48px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin: 60px 0 20px;
}

.button-catalog-filter-group-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background: none;
}

  /* Search Hotel */

.sort-header {
  display: flex;
  align-items: center;
  margin: 50px 71px 56px 72px;
}

.search-hotels-title {
  margin: 0;
  margin-right: 191px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control-hotels {
  width: 290px;
  height: 49px;
  margin-right: 78px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font: inherit;
  color: #333333;
}

.sort-list-value {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.view-button {
  padding: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-button-active {
  border-color: #000000;
}

.view-button-table {
  background: url("../images/catalog/icon-table.svg") no-repeat center;
}

.view-button-slideshow {
  background: url("../images/catalog/icon-slideshow.svg") no-repeat center;
}

.view-button-list {
  background: url("../images/catalog/icon-list.svg") no-repeat center;
}

  /* Hotels */

.product-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  gap: 18px;
  list-style: none;
  margin: 0 71px 66px 73px;
}

.product-list::after {
  content: "";
  position: relative;
  width: 1055px;
  top: 66px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.product-card-image {
  margin-bottom: 16px;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 20px;
}

.product-card-group,
.product-card-price {
  margin: 0;
  width: 140px;
  height: 21px;
}

.product-card-buttons {
  display: flex;
  gap: 20px;
}

.product-card-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  background: #756157;
  border-radius: 4px;
}

.product-card-buttons .product-card-button:last-of-type {
  background-color: #82B3D3;
}

.product-card-buttons .product-card-button-selected {
  background-color: #7DB54F;
}

.product-card-ratings {
  display: flex;
  padding: 0;
  gap: 20px;
}

.product-card-rating {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-card-rating:first-child {
  background-color: #ffffff;
}

  /*  Pagination  */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 71px 25px 73px;
  gap: 270px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.pagination-items {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 51px;
}

.pagination-title {
  display: block;
  width: 175px;
  height: 23px;
}

.select-control-items {
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 49px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  box-sizing: border-box;
}

  /* Newsletter-catalog */
.newsletter-catalog {
  background-image: none;
}

.newsletter-catalog-title {
  color: #000000;
}
.newsletter-catalog-description {
  color: #333333;
}
